<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about-text">
        <h2>ABOUT US</h2>
      </div>
      <div class="about_image">
        <%= image_tag('about_image1.jpg',size:'650x400') %>
      </div>
        <div class="about-text">
        <h4>"配達をする全てのUser向け 効率サイト"</h4><br><br>
        <p>「クラウドキッチンの場所、公衆トイレ、わかりにくい店舗への行き方<br>
            防災センターの場所など、フードデリバリー員が遭遇する問題を共有（可視化）<br>
            することにより配達効率化を図るサイトになります。」</p>
      </div>
    </div>

  </div>
</div>