/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

  .header-button{
    background-color: #00bfff;
    margin-right: 40px;
  }

  footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #dcdcdc;
  }

  // .footer-text {
  // color: #fff;
  // }
  .top-image{
    img{
      width: 100%;
      height: 10%;
      // 反応はしてるけど、そもそもの画像が小さいので引き延ばされない
    }
  }
  // .top_image{
  //   // text-align: center;
  //   // object-fit: cover;
    
  //   // background-image: cover;
  //   // img{
  //   //   width: 100%;
  //   //   height: 30%;
  //   // }
  // }
  .about_image{
    text-align: center;
    margin: 10px;
  }
  .about-text{
    text-align: center;
    padding: 10px;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  
  .index-text{
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .show-text{
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .new-post{
    font-family: 'Zen Kurenaido', sans-serif;
    padding: 15px;
  }
  
// レスポンシブ対応
 @media screen and(min-width: 1200px){
    .image_box{
      width: 100%;
  }
 }
// .img-fluid{
//   max-width: 100%;
// }
  // .jumbotron {
  //   background:url("top_image.jpg") center no-repeat; background-size: cover;}