<h1>User::Areas#index</h1>
<p>Find me in app/views/user/areas/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="index-text">
        <table class ="table table-bordered">
          <thead>
            <tr>
              <th>地域一覧</th>
            </tr>
          </thead>
          <tbody>
              <% @areas.each do |area| %>
            <tr>
              <td>
                <%= link_to area.area_name,area_path(area) %>
                <%= (area.toilets + area.shops + area.buildings).count %>
              </td>
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-8">
      <h2>gmap</h2>

        <input id="address" type="textbox" value="GeekSalon">
        <input type="button" value="Encode" onclick="codeAddress()">
        
        <div id="display">何かが表示される、、、、！</div>
        <div id='map'></div>
        
        <style>
        #map {height: 600px;width: 600px;}
        </style>
        
        <script>
        let map
        let geocoder
        
        const display = document.getElementById('display')
        
        function initMap(){
          geocoder = new google.maps.Geocoder()
        
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.7125736, lng:139.7802043},
            zoom: 12,
          });
        
          marker = new google.maps.Marker({
            position:  {lat: 35.7125736, lng:139.7802043},
            map: map
          });
        }
        
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
        
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
              display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });   
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>
